.footerSection{
  width: 100%;
    background-color: #0F1C35;

}

.footerContainer {
  min-height: 26.2988rem;
  max-width: 1270px;
  width: 100%;
  margin: 0 auto ;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3.2rem;
  position: relative;
}

.footer1{
font-weight: 500;
font-size: 1.946rem;
  font-family: "Montserrat", sans-serif;

}
.footertm{
    font-family: "Poppins", sans-serif;
  font-size: 1.39rem;
  font-weight: 200;
  line-height: 2.224rem;
}
.footer2{
  font-weight: 300;
  color: rgb(255, 255, 255,0.85);
  font-size: 0.834rem;
    font-family: "Montserrat", sans-serif;
    line-height: 2.2796rem;
    letter-spacing: 0.0556rem;

}
.footer3{
   font-weight: 300;
  color: rgb(255, 255, 255,0.85);
  font-size:0.8896rem;
    font-family: "Montserrat", sans-serif;
line-height: 2.1684rem;
}
.footer4{
  font-weight: 400;
  color: rgb(255, 255, 255,0.9);
  font-size: 0.8896rem;
    font-family: "Montserrat", sans-serif;
    line-height: 2.1684rem;

}
.footer4_5{
    font-family: "Montserrat", sans-serif;

  font-weight: 300;
}
.icons{
  display: flex;
  gap: 2.4464rem;
  margin-top: 0.95rem;
}
.iconBorder{
  height: 2.1758rem;
  width: 2.1758rem;
  border-radius: 50%;
  border: solid 0.139rem #FE8409;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon{
  height: 60%;
}
.facebook{
  height:75%
}

.copyWright{
  position: absolute;
  bottom: 0.55rem;
  /* margin: 0 auto; */
  text-align: center;
  font-size: 0.804rem;
  line-height: 1.5568rem;
}

.line1{
 color: #ffffff;
 letter-spacing: 0.0356rem;
}
.line2{
  color: #9FA8B8;
  letter-spacing: 0.0178rem;
}


@media(max-width:575px){
.footer4{
  /* display: flex;
  flex-wrap: wrap;
  margin-inline:auto ; */
  /* white-space: normal;
  overflow-wrap: break-word; */
  /* word-wrap: break-word;; */

}
.footerContainer {
  
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

}