.servicesContainer {
  color: #0B1F3A;
  min-height: 22.0732rem;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2.5rem;
  row-gap: 3rem;
}

.heading {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2.224rem;
  padding: 1.2232rem 0.556rem;
}

.card {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.06);
  border-radius: 1.112rem;
  width: 27.1328rem;
  height: 9.452rem;
  display: flex;
  transition: transform 0.2s ease, box-shadow 0.2s ease; /*New*/  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);

}

.iconBox {
  width: 5.4488rem;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 167, 58, 0.79) 0%,
    rgba(255, 140, 0, 0.79) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 1.112rem;
  border-top-left-radius: 1.112rem;
}

.icon {
  height: 29%;
}

.appIcon {
  height: 42%;
}

.cardContent {
  padding-left: 1.2232rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardHead {
  font-size: 1.5568rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 2.502rem;
}

.cardSubHead {
  font-size: 0.9452rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 2.502rem;
  color: #555555e8;
  letter-spacing: 0.0556rem;
}

/* -------- 998px -------- */

@media (max-width: 998px) {
  .servicesContainer {
    max-width: 768px;
    margin-inline: auto;
    padding-bottom: 4rem;
    margin-top: 1.9rem;
  }

  .card {
    width: 30rem;
    height: 7.452rem;
  }

  .heading {
    font-weight: 550;
    font-size: 2.11rem;
  }

  .cardHead {
    font-size: 1.3568rem;
  }

  .appIcon {
    height: 45%;
  }

  .icon {
    height: 30%;
  }

  .cardSubHead {
    font-size: 0.92rem;
  }
}

/* -------- 575px -------- */

@media (max-width: 575px) {
  .servicesContainer {
    padding-inline: 1rem;
  }

  .heading {
    font-size: 1.99rem;
  }

  .card {
    border-radius: 1rem;
    width: 100%;
    flex-direction: row;
    

  }

  .iconBox {
    width: 18%;
    min-width: 53.16px;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
  }

  /* icon heights yahi par override karni ho to:
  .icon { height: 29%; }
  .appIcon { height: 42%; }
  */

  .cardHead {
    font-size: 1.2rem;
  }

  .cardSubHead {
    line-height: 1.6rem;
  }
}




.card:hover {/*New*/
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
